*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
h1{
  text-align: center;
  margin-top: 30px;
}
.gallery{
  display: flex;
  width: 80%;
  margin: 30px auto;
  justify-content: center;
  align-items: center;
}
.image {
  width: 600px;
  height: 900px;
  
}

